name: Build Tetris

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache vcpkg
        uses: actions/cache@v4
        with:
          path: $VCPKG_INSTALLATION_ROOT/installed
          key: vcpkg-${{ runner.os }}-sfml3

     
      - name: Install SFML via vcpkg
        run: vcpkg install --triplet x64-windows

      - name: Configure
        shell: bash  # Windowsでもbashを使うことでパスの扱いを安定させます
        run: |
          cmake -S . -B build \
          -G "Visual Studio 17 2022" \
          -A x64 \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_TOOLCHAIN_FILE="${VCPKG_INSTALLATION_ROOT}/scripts/buildsystems/vcpkg.cmake"
      # 4. ビルド実行
      - name: Build
        run: cmake --build build --config Release

      
      # 5. 配布用のフォルダを準備する
      - name: Prepare Package
        run: |
          mkdir dist
          cp build/Release/*.exe dist/
          cp build/Release/*.dll dist/
          cp build/vcpkg_installed/x64-windows/bin/*.dll dist/
          cp -r assets dist/

      # 6. dist フォルダの中身だけをアップロード
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Tetris-Windows-Package
          path: dist/  # distの中身だけがZipになる